table.sticky-columns-table {
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  box-shadow: 0 0 3px #000;
}
table.sticky-columns-table th {
  background: #aaa;
}
table.sticky-columns-table td {
  background: #eee;
}
